/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-container {
  background: linear-gradient(
    107deg,
    rgba(77, 164, 217, 0.12) 2.27%,
    rgba(35, 142, 207, 0.12) 103.17%
  );
  padding: 43.55px 38.5px 92.45px 38.5px;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  margin: 0 41.48px 92.45px 41.31px;
}

.arrow-curve {
  width: 101px;
  height: 64.624px;
  position: absolute;
  bottom: -19.51px;
  right: 70px;
}

.btn-container {
  margin-top: 32px;
  position: relative;
}

.signup-btn {
  display: flex;
  padding: 16px var(--5, 40px);
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: var(--7, 56px);
  background: linear-gradient(89deg, #07689f 0.47%, #338dbf 99.43%);
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 0px solid transparent;
}
.contentContainer {
  width: 623px;
  /* height: 340px; */
  margin-left: 41.4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  height: 100%;

  /* background-color: yellow; */
}
.heading1 {
  color: #063047;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.heading2 {
  color: #042c42;
  font-family: Inter;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 569.855px;
}
.heading3 {
  background: linear-gradient(90deg, #07689f 22.52%, #338dbf 38.72%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Inter;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.para {
  color: #676f73;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  /* width: 623px; */
}
.trial-btn {
  display: flex;
  padding: var(--1, 8px) 8px var(--1, 8px) 20px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: var(--7, 56px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  background: linear-gradient(90deg, #07689f 0%, #338dbf 100%);
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  border: 0px solid transparent;
}

.arrow {
  /* display: flex; */
  /* align-items: center; */
  width: 45.291px;
  height: 45.291px;
  flex-shrink: 0;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
}

.flexcontainer {
  display: flex;
  justify-content: space-around;
  margin-left: 41.4px;
  margin-right: 40.6px;
  height: 469px;
  /* background-color: yellowgreen; */
}

.imagecontainer {
  position: relative;
  width: 30.1%;
  height: 43.52%;
}
.rectangular-image1 {
  width: 548px;
  height: 469px;
  margin-right: 40.6px;
  flex-shrink: 0;
  position: absolute;
}
.play-icon {
  position: relative;
  top: 190px;
  right: -250px;
}
.droplets {
  position: relative;
  top: -150px;
  right: -490px;
}
/* Test */
